{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "tabWidth": 2,
  "trailingComma": "all"
}
