@import '../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/solid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body {
  height: 100%;
}

.prose {
  max-width: unset;
}

.tabs::after {
  --tab-border-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
  content: '';
  flex: 1 1 auto;
  border: var(--tab-border, 1px) solid transparent;
  border-width: 0 0 var(--tab-border, 1px) 0;
  border-color: var(--tab-border-color);
}
